body{
    background-color: #BFAE99;
}
.question{
    background-color: #BFAE99 ;
    width: 50px;
    position: relative;
    left: 450px;
   
}

body {
    background-color: #BFAE99;
    margin: 0;
    padding: 0;
}

.titulo {  
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: monospace;
}

.navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.navbar a {
    float: left;
    display: block;
    color: rgb(195, 221, 243);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #D9A25F;
    color: #593622;
    border-radius: 4px;
}


/* From Uiverse.io by mi-series */ 
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EDDCD9;
    height: auto;
    width: auto;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #E99F4C;
  }
  
  .title {
    color: #264143;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
  }
  
  .sub_title {
    font-weight: 600;
    margin: 5px 0;
  }
  
  .form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
  }
  
  .form_style {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
  }
  
  .form_style:focus, .btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #E99F4C;
  }
  
  .btn {
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    background: #D9A25F;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #E99F4C;
  }
  
  .btn:hover {
    opacity: .9;
  }
  
  .link {
    font-weight: 800;
    color: #264143;
    padding: 5px;
  }