
body {
    background-color: #BFAE99;
    margin: 0;
    padding: 0;
}

.titulo {  
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: monospace;
}

.navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.navbar a {
    float: left;
    display: block;
    color: rgb(195, 221, 243);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #D9A25F;
    color: #593622;
}

.titulo{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}


.bangchan{text-align: center;
font-size: 10px;}

.leeknow{text-align: center;
    font-size: 10px;}
    
.changbin{ text-align: center;
    font-size: 10px;}
.hyunjin{text-align: center;
    font-size: 10px;} 
.han{text-align: center;
    font-size: 10px;} 
.felix{text-align: center;
    font-size: 10px;} 
.seungmin{text-align: center;
    font-size: 10px;} 
.jeongin{text-align: center;
    font-size: 10px;}   

img{width: 400px;


}

#descricao{
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 2px 0 10px 0;
}