body {
    background-color: #BFAE99;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.navbar a {
    float: left;
    display: block;
    color: rgb(195, 221, 243);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #D9A25F;
    color: #593622;
    border-radius: 4px;
}


.titulo {
    text-align: center;
    padding: 20px 0;
    font-family: 'Times New Roman', serif;
}


.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}


.membro {
    text-align: center;
    margin-bottom: 60px;
    padding: 10px;
}


.membro img {
    width: 100%;
    max-width: 350px;
    border-radius: 12px;
    margin-bottom: 10px;
}


.membro h2 {
    font-size: 24px;
    margin-bottom: 6px;
    font-weight: bold;
}


.descricao {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 12px;
    color: #333;
}


.membro p {
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    padding: 0 15px;
}
