body {
    background-color: #BFAE99;
    margin: 0;
    padding: 0;
}

.titulo {  
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: monospace;
}

.navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.navbar a {
    float: left;
    display: block;
    color: rgb(195, 221, 243);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #D9A25F;
    color: #593622;
    border-radius: 4px;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', Verdana, sans-serif;
}


.imagens {
    display: flex;
    flex-wrap: wrap;     
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}


.godsmenu,
.s-class,
.maniac,
.lalala,
.chkchkboom,
.doit {
    text-align: center;
    width: 250px;       
}


.godsmenu img,
.s-class img,
.maniac img,
.lalala img,
.chkchkboom img,
.doit img {
    width: 250px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    transition: 0.3s;

}

.godsmenu img:hover,
.s-class img:hover,
.maniac img:hover,
.lalala img:hover,
.chkchkboom img:hover,
.doit img:hover {
     transform: scale(1.03); 
}


#nome-musica {
     text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 2px 0 10px 0;
}


h3 {
    color: black;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-top: 5px;
}

.button-container {
    text-align: center;  
    margin: 40px 0;    
}

.comic-button {
  display: inline-block;  
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #A64F03;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #fff;
  color: #A64F03;
  border: 2px solid #A64F03;
  box-shadow: 5px 5px 0px #A64F03;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}