body

.titulo{  

    text-align: center;
    color: rgb(51, 0, 80);
}

.content { 
   font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
} 
.navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
 
.navbar a {
    float: left;
    display: block;
    color: rgb(195, 221, 243);
    text-align: center;
    padding: 14px  16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #D9A25F;
  color: #593622;
}

.titulo{
  font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;  
}

h1{
     text-align: center;
    height: 40%;
    color: rgb(255, 255, 255);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

   .imagens{
     display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 50px;
    flex-wrap: wrap; 
   }
.godsmenu,
.s-class,
.maniac img{
    width: 250px; 
    height: auto;
    border-radius: 5px;
}

#nome-musica{ text-align: center;
    font-size: 16px;
    font-family: 'Georgia', serif;
    font-weight: bold;
    margin: 5px 0 0 0;
    color: aliceblue;}
