body {
    background-color: #BFAE99;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #000;
    padding: 10px 0;
}

.navbar a {
    color: rgb(195, 221, 243);
    text-decoration: none;
    padding: 12px 20px;
    font-size: 16px;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #D9A25F;
    color: #593622;
    border-radius: 4px;
}

.titulo {
    text-align: center;
    padding: 30px 20px;
}

.titulo img {
    width: 35%;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    transition: 0.3s;
}

.titulo img:hover {
    transform: scale(1.03);
}

#descricao {
    font-size: 12px;
    margin-top: 8px;
    font-style: italic;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    font-size: 18px;
    text-align: justify;
}
