/*estilo do navbar */
.navbar {

    overflow: hidden;
    background-color: black; /*cor de fundo*/
}

/*links do navbar*/

.navbar a {
    float: left;
    display: block;
    color: rgb(206, 223, 238); /*cor do texto*/ 
    text-align: center;
    padding: 14px 16px; /*espaçamento de alguma coisa ai*/
    text-decoration: none;

}

.navbar a:hover {

    background-color: aliceblue;
    color: rgb(123, 124, 222);
}